{% extends 'registration/registration_base.html' %}
{% load static %}
{% load humanize %}
{% load crispy_forms_tags %}
{% load formatting_tags %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="container">
        <div class="col-md-offset-4">
            <div class="col-md-6">
                <h1>Login</h1>
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input type="submit" class="btn btn-info" value="Log In"><a href="{% url 'signup' %}"
                                                                                class="btn btn-success" role="button">Sign
                    Up!</a><br><br>
                    <a href="{% url 'password_reset' %}">Forgot Your Password?</a>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
