{% extends 'registration/registration_base.html' %}
{% load humanize %}
{% load crispy_forms_tags %}
{% block content %}



{% block title %}Login{% endblock %}
<div class="container">
<h1>Login</h1>


    <h2>Please Log In</h2><br>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" class="btn btn-info" value="Log In"><br><br>
        <a href="{% url 'password_reset' %}">Forgot Your Password?</a>
    </form><hr>
    <p>First time here?</p><a href="{% url 'signup' %}" class="btn btn-success" role="button">Sign Up!</a><br>
</div>
{% endblock %}
